<mat-card style="max-width: 600px;">
    <mat-card-header>
        <mat-card-title> Delta-N Bank</mat-card-title>
        <mat-card-subtitle> Currency Conversion Tools</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formGroup">
            <mat-radio-group formControlName="currency">
                <mat-radio-button *ngFor="let curr of currencies" [value]="curr.code">
                    {{ curr.name }} ({{curr.symbol}})
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <mat-label> Amount </mat-label>
                <span matPrefix> {{ currencySymbol$ | async }} &nbsp;</span>
                <input matInput formControlName="amount" type="number"  placeholder="10" />
            </mat-form-field>
        </form>
        <p> Currency rate: {{ currencyRate$ | async }} </p>
        <p> Cost in EUR: {{ costInEur$ | async | currency: 'EUR' }} </p>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button> BUY </button>
    </mat-card-actions>
</mat-card>
